<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<body>

    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-3">
      <app-department></app-department>
    </div>

      <div class="col-3">
      <app-teacher></app-teacher>
    </div>

      <div class="col-3">
        <app-course></app-course>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-3">
        <app-lesson></app-lesson>
      </div>

      <div class="col-3">
        <app-homework></app-homework>
      </div>
    </div>

<br>

</body>
