<div class="container-fluid">
  <body>

    <h1>Profile</h1>


    <div class="row">
      <div class="col-12">
        <label class="easl-label easl-username">
          Username: &nbsp;
        </label>
        <input type="username"
               class="easl-field easl-username"/>
       </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-12">
        <label class="easl-label easl-password">
          Password: &nbsp;
        </label>

        <input type="password"
               class="easl-field easl-password"/>
      </div>
    </div>

  <br/>

    <div class="row">
      <div class="col-12">
        <label class="easl-label">
          User Type: &nbsp;
        </label>

        <input type="text"
               class="easl-field easl-password"/>
      </div>
    </div>

    <br/>


    <br/>

    <div class="row">
      <div class="col-9">
        <button class="btn btn-block easl-button easl-update">Update
          profile</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="easl-link easl-course" routerLink="/departments">Department</button>
      </div>
      <div class="col-12">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button routerLink="/" class="btn btn-block easl-field easl-logout">Logout</button>
      </div>
    </div>

    <br/>

  </body>
</div>


