body {
  background-color: black;
  max-width: 500px;
  margin: auto;
  color: white;
  text-align: center;
}

/*.col-12, .col-4, .wbdv-label, h1, a {*/
/*  text-align: center;*/
/*  color: white;*/
/*}*/

/*button {*/
/*  color: white;*/
/*}*/

